.instructions {
  .cell {
    @apply text-black dark:text-white bg-white dark:bg-transparent border border-black dark:border-gray-dark;
    &.absent {
      @extend .absent;
    }
  }
}
.cell {
  @apply w-11 h-11 xl:w-16  xl:h-16 flex items-center justify-center m-1 text-4xl font-bold rounded text-gray-darker bg-gray-04 dark:bg-gray-dark uppercase;
}

.absent {
  @apply bg-gray-dark dark:bg-gray-02 text-white;
  animation: flip-in-hor-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.present {
  @apply bg-warning text-white;
  animation: flip-in-hor-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.correct {
  @apply bg-success-dark dark:bg-success-light text-white;
  animation: flip-in-hor-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
