@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/index.scss';
@layer base {
  html {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
  }
}

body {
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  #root {
    flex: 1;
  }
}

html.dark {
  @apply bg-black-2;
}
